<h1>Domains</h1>

<table class="table">
    {{#each domains}}
    <tr>
        <td>
            <a href="/domain/{{this.name}}/">{{this.name}}</a>
            {{#if this.punyCode}}
            ({{this.punyCode}})
            {{/if}}
        </td>
        <td>
            {{#isUnknownValue this.value}}
            &nbsp;
            {{else}}
            {{this.value}}
            {{/isUnknownValue}}
        </td>
    </tr>
    {{/each}}
</table>

{{pagintation pagination query}}