<div class="align-items-end d-flex justify-content-between">
    <h1>Domains</h1>

    <p>{{pagination.total}} item(s)</p>
</div>

<form method="GET">
    <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="Search (allows regex)"
            value="{{query.search}}">
    </div>
    <ul class="list-unstyled d-flex justify-content-between overflow-auto">
        <li class="mr-3"><a href="./?search=^[a-z]%2B$">letters</a></li>
        <li class="mr-3"><a href="./?search=^\d%2B$">numbers</a></li>
        <li class="mr-3"><a href="./?search=^\m%2B$">emoji</a></li>
        <li class="mr-3"><a href="./?search=^\p{Cyrillic}%2B$">cyrillic</a></li>
        <li class="mr-3"><a href="./?search=^\p{Han}%2B$">han</a></li>
        <li class="mr-3"><a href="./?search=^\p{Hangul}%2B$">hangul</a></li>
        <li class="mr-3"><a href="./?search=^\p{Katakana}%2B$">katakana</a></li>
        <li class="mr-3 text-nowrap"><a href="./?search=^.{1}$">1 char</a></li>
        <li class="mr-3 text-nowrap"><a href="./?search=^.{2}$">2 chars</a></li>
        <li class="text-nowrap"><a href="./?search=^.{3}$">3 chars</a></li>
    </ul>
</form>
{{startWithFilter query.start}}

{{#if domains.length}}
<div class="row">
    <div class="col-md order-md-0 order-1">
        {{domainTable domains}}
    </div>
    <div class="col col-md-auto sidebar">
        {{#if latest.length}}
        <div class="card mb-3">
            <div class="card-header">Latest Domains</div>
            {{domainTable latest}}
        </div>
        {{/if}}
        {{#if popular.length}}
        <div class="card mb-3">
            <div class="card-header">Popular Domains</div>
            {{domainTable popular}}
        </div>
        {{/if}}
    </div>
</div>

{{else}}
<div class="border alert alert-light">Nothing here</div>
{{/if}}

{{pagintation pagination query}}