<div class="align-items-end d-flex justify-content-between">
    <h1>Domains</h1>

    <p>{{pagination.total}} item(s)</p>
</div>

{{startWithFilter query.start}}

{{#if domains.length}}
<div class="row">
    <div class="col-md order-md-0 order-1">
        <table class="table">
            {{#each domains}}
            <tr>
                <td>
                    <a href="/domain/{{this.name}}/">{{this.name}}</a>
                    {{#if this.punyCode}}
                    ({{this.punyCode}})
                    {{/if}}
                </td>
                <td>
                    {{#isUnknownValue this.value}}
                    <em>Make offer</em>
                    {{else}}
                    {{this.value}}
                    {{/isUnknownValue}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    <div class="col col-md-auto">
        {{#if latest.length}}
        <div class="card mb-3">
            <div class="card-header">Latest Domains</div>
            <table class="table">
                {{#each latest}}
                <tr>
                    <td>
                        <a href="/domain/{{this.name}}/">{{this.name}}</a>
                        {{#if this.punyCode}}
                        ({{this.punyCode}})
                        {{/if}}
                    </td>
                    <td>
                        {{#isUnknownValue this.value}}
                        <em>Make offer</em>
                        {{else}}
                        {{this.value}}
                        {{/isUnknownValue}}
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>
        {{/if}}
    </div>
</div>

{{else}}
<div class="border alert alert-light">Nothing here</div>
{{/if}}

{{pagintation pagination query}}