<div class="align-items-end d-flex justify-content-between">
    <h1>Domains</h1>

    <p>{{pagination.total}} item(s)</p>
</div>

{{startWithFilter query.start}}

{{#if domains.length}}
<table class="table">
    {{#each domains}}
    <tr>
        <td>
            <a href="/domain/{{this.name}}/">{{this.name}}</a>
            {{#if this.punyCode}}
            ({{this.punyCode}})
            {{/if}}
        </td>
        <td>
            {{#isUnknownValue this.value}}
            &nbsp;
            {{else}}
            {{this.value}}
            {{/isUnknownValue}}
        </td>
    </tr>
    {{/each}}
</table>
{{else}}
<div class="border alert alert-light">Nothing here</div>
{{/if}}

{{pagintation pagination query}}