<div class="align-items-end d-flex justify-content-between">
    <h1>Domains</h1>

    <p>{{pagination.total}} item(s)</p>
</div>

{{startWithFilter query.start}}

{{#if domains.length}}
<div class="row">
    <div class="col-md order-md-0 order-1">
        {{domainTable domains}}
    </div>
    <div class="col col-md-auto">
        {{#if popular.length}}
        <div class="card mb-3">
            <div class="card-header">Popular Domains</div>
            {{domainTable popular}}
        </div>
        {{/if}}
        {{#if latest.length}}
        <div class="card mb-3">
            <div class="card-header">Latest Domains</div>
            {{domainTable latest}}
        </div>
        {{/if}}
    </div>
</div>

{{else}}
<div class="border alert alert-light">Nothing here</div>
{{/if}}

{{pagintation pagination query}}