<div class="jumbotron">
    <div class="parking">
        {{#if punyCode}}
        <h1 style="font-size: 3.5em;margin:0;">{{punyCode}}</h1>
        <h2>{{host}}</h2>
        {{else}}
        <h1>{{host}}</h1>
        {{/if}}
        {{#if hasPrice}}
        <p>is available for <span class="price">{{price}}</span></p>
        {{else}}
        <p>is available</p>
        {{/if}}
        <hr />
        <p>
            <a href="/contact/{{host}}">Get in touch</a>
        </p>
        <p>
            <a href="http://parking.sinpapeles{{#if isICANN}}.xyz{{/if}}/?seller={{seller}}">More from this seller</a>
        </p>
        {{#if stats.views}}

        <hr />
        <div class="stats">
            <span>
                Page views:
                <span class="badge badge-primary badge-pill">{{stats.views}}</span>
            </span>
            {{#if stats.clicks}}
            <span class="ml-5">
                Clicks:
                <span class="badge badge-primary badge-pill">{{stats.clicks}}</span>
            </span>
            {{/if}}
        </div>
        {{/if}}
    </div>


</div>
{{#if content}}
<div class="content">
    {{markdown content}}
</div>
{{/if}}